.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: #c4c4c4;
  text-align: center;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero/hero-mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 480px;
  margin: 0 auto;
}

.hero__title {
  margin: 0 auto;
  margin-bottom: 30px;
  color: var(--therd-text-color);
  @include font(26px, 900, 1.6);
  text-align: center;
  letter-spacing: 0.06em;
  max-width: 360px;
  height: 84px;
}

.hero__btn {
  margin: 0 auto;
  padding: 10px 24px;
  color: var(--therd-text-color);
  background-color: var(--accent-color);
  font-family: inherit;
  @include font(16px, 700, 1.9);
  @extend %align;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  min-width: 200px;
  height: 50px;
  transition: background-color var(--transition-dur-and-funk),
    box-shadow var(--transition-dur-and-funk);

  &:hover,
  &:focus {
    background-color: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero/hero-mobile@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero/hero-tablet.jpg");
    max-width: 768px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero/hero-tablet@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero/hero-desktop.jpg");
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
  .hero__title {
    @include font(44px, 900, 1.36);
    max-width: 696px;
    height: 120px;
  }
  .hero__btn {
    min-width: 216px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
  screen and (min-resolution: 192dpi) and (min-width: 1200px),
  screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero/hero-desktop@2x.jpg");
  }
}

/*.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #c4c4c4;
  text-align: center;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/herp-title/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1600px;
  margin: 0 auto;
}

.hero__title {
  margin: 0 auto;
  margin-bottom: 30px;
  color: var(--therd-text-color);
  @include font(44px, 900, 1.36);
  text-align: center;
  letter-spacing: 0.06em;
  width: 696px;
  height: 120px;
}

.hero__btn {
  margin: 0 auto;
  padding: 10px 32px;
  color: var(--therd-text-color);
  background-color: var(--accent-color);
  font-family: inherit;
  @include font(16px, 700, 1.9);
  @extend %align;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  min-width: 216px;
  height: 50px;
  transition: background-color var(--transition-dur-and-funk),
    box-shadow var(--transition-dur-and-funk);

  &:hover,
  &:focus {
    background-color: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}
*/
